
html, body {
    overflow: hidden;
    padding:50px;
    color:#fff;
}

canvas {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0.5;
  opacity:1;
}
div{
    position:relative;
    z-index:1;
    font-size:20px;
    padding:0;
    display: table;
    margin:auto;
    letter-spacing:2px;
    font-family: "Madimi One", sans-serif;
}
P{
    margin:20px auto;
    text-align:center;
    font-size:12px;
    letter-spacing:2px;
    position:relative;   /* change */
    bottom:auto;         /* remove */
    left:auto;
    transform:none;
}



